<div class="container mt-5">
  <h2 class="mb-4 text-primary fw-bold fs-1">Cadastrando seu Buffet</h2>

  <% if (@buffet.errors.any?) %>
    <div class="alert alert-danger">
      <ul>
        <% @buffet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'form' %>
</div>
